#img{
    width: 100%;
    height: 30%;
}
#img h1{
    position: absolute;
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
    left: 40%;
    color: rgb(1, 1, 1)!important;
    top: 45%;
}
#img img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

#about{
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 2vh 0;
    display: flex;
}
#about #left{
    width: 50%;
    height: 100%;
    position: relative;


}
#about #left img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
#about #right{
    width: 50%;
    height: 100%;
    padding: 1vh 3vw;
}
#right h2{
    font-size: 2.5vw;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}
#right button{
    background-color:black;
    color: white;
    font-size: 1.5vw;
    padding: 1vh 2vw;
    border-radius: 5px;
    margin-top: 5vh;
}

